<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&family=Jura:wght@500&display=swap" rel="stylesheet">
    
  <% if( listTitle === "Today") { %> 
    <link rel="stylesheet" href="css/styles.css">
  <% } else { %> 
    <link rel="stylesheet" href="../css/styles.css">
  
    <% } %> 
</head>

<body>
